[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = ../../scrooloose/nerdtree.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = ../../altercation/vim-colors-solarized.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = ../../vim-airline/vim-airline.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = ../../ctrlpvim/ctrlp.vim.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = ../../jiangmiao/auto-pairs.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = ../../Valloric/YouCompleteMe.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = ../../scrooloose/syntastic.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = ../../klen/python-mode.git
